.days-forecast-header {
  text-align: center;
}

.days-forecast-days-container {
  max-width: 60vh;
  margin-left: 3px;
}

.days-forecast-day-container {
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 7px;
  margin-left: 17px;
  margin-top: 10px;
  position: relative;
}

.days-forecast-back-button {
  margin-bottom: 14px;
}

.days-forecast-second-back-button {
  margin-top: 24px;
}
