.home-city-input {
  margin-top: 4vh;
}

.home-fetching-error {
  margin-top: 2vh;
  max-width: 50vh;
}

.ui.home-city-button.button {
  margin-left: 12px;
}

.home-button-container-hours-forecast {
  max-width: 50vh;
  margin-top: 2vh;
}

.home-button-hours-forecast {
  width: 100%;
}

a[disabled] {
  pointer-events: none;
}
