.home-city-input-container {
  margin-top: 3vh;
  text-align: center;
}

.home-fetching-error {
  margin-top: 2vh;
  max-width: 50vh;
}

.ui.home-city-button.button {
  margin-left: 12px;
  width: 100px;
}

a[disabled] {
  pointer-events: none;
}

.home-first-button {
  margin-top: 14px;
}

.ui.input .home-city-input {
  border-color: #2a75bb;
  font-weight: bold;
  font-size: 14px;
  border-width: 2px;
  text-align: center;
}
