.current-temperature-container {
  margin-top: 4vh;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 50vh;
  border-radius: 7px;
}

.current-temperature-icon {
  width: 20vh;
  height: 20vh;
}

.current-temperature-city-name {
  margin-top: 10px;
  margin-bottom: 20px;
}

.current-temeperature-values {
  margin-top: 10px;
  margin-bottom: 10px;
}
