.error-header {
  text-align: center;
}

.error-container {
  margin-top: 20vh;
}

.error-back-button {
  max-width: 45vh;
  margin-top: 20px;
}

.error-icon-container {
  text-align: center;
  font-size: 96px;
}

.error-icon {
  color: #ee4540;
}
